[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-metal-arming {
  &:before {
    content: $icon-metal-arming;
  }
}
.icon-log {
  &:before {
    content: $icon-log;
  }
}
.icon-trowel {
  &:before {
    content: $icon-trowel;
  }
}
.icon-arming {
  &:before {
    content: $icon-arming;
  }
}
.icon-cleaning {
  &:before {
    content: $icon-cleaning;
  }
}
.icon-cobblestone {
  &:before {
    content: $icon-cobblestone;
  }
}
.icon-real-estate {
  &:before {
    content: $icon-real-estate;
  }
}
.icon-building-cleaning {
  &:before {
    content: $icon-building-cleaning;
  }
}
.icon-pruning-shears {
  &:before {
    content: $icon-pruning-shears;
  }
}
.icon-stairs-cleaning {
  &:before {
    content: $icon-stairs-cleaning;
  }
}
.icon-window-cleaning {
  &:before {
    content: $icon-window-cleaning;
  }
}
.icon-lawn-mower {
  &:before {
    content: $icon-lawn-mower;
  }
}
.icon-tiles {
  &:before {
    content: $icon-tiles;
  }
}
.icon-wiping-tray-tool {
  &:before {
    content: $icon-wiping-tray-tool;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
    color: #ffc527;
  }
}
.icon-call-answer {
  &:before {
    content: $icon-call-answer;
    color: #ffc527;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
    color: #fff;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
    color: #fff;
  }
}
.icon-circular-clock {
  &:before {
    content: $icon-circular-clock;
    color: #ffc527;
  }
}
.icon-email-filled-closed-envelope {
  &:before {
    content: $icon-email-filled-closed-envelope;
    color: #ffc527;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
    color: #aaa;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
    color: #aaa;
  }
}
.icon-license {
  &:before {
    content: $icon-license;
    color: #fff;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
    color: #ffc527;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
    color: #aaa;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-stack {
  &:before {
    content: $icon-stack;
  }
}
.icon-grid1 {
  &:before {
    content: $icon-grid1;
  }
}
.icon-home2 {
  &:before {
    content: $icon-home2;
  }
}
.icon-home3 {
  &:before {
    content: $icon-home3;
  }
}
.icon-office {
  &:before {
    content: $icon-office;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
