$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-metal-arming: "\e91c";
$icon-log: "\e913";
$icon-trowel: "\e91a";
$icon-arming: "\e915";
$icon-cleaning: "\e916";
$icon-cobblestone: "\e919";
$icon-real-estate: "\e91e";
$icon-building-cleaning: "\e90a";
$icon-pruning-shears: "\e90c";
$icon-stairs-cleaning: "\e910";
$icon-window-cleaning: "\e912";
$icon-lawn-mower: "\e90d";
$icon-tiles: "\e918";
$icon-wiping-tray-tool: "\e91d";
$icon-map-pin: "\e904";
$icon-call-answer: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-circular-clock: "\e903";
$icon-email-filled-closed-envelope: "\e905";
$icon-facebook: "\e906";
$icon-instagram: "\e907";
$icon-license: "\e908";
$icon-monitor: "\e909";
$icon-search: "\e90b";
$icon-key: "\e914";
$icon-stack: "\e911";
$icon-grid1: "\e91b";
$icon-home2: "\e917";
$icon-home3: "\e90e";
$icon-office: "\e90f";
$icon-file-text: "\e922";

