$primary-color: #313131;
$secondary-color: #FFC527;

$font-color-light: #8b8b8b;
$font-color-dark: #313131;

$light-grey: #9e9e9e;
$lightest-grey: #ececec;
$light-border: #dfdfdf;

$color-light: #f6f6f6;